<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Angular App</h3>
      <hr>
      <label>Server Name</label>
      <input type="text" class="form-control" (input)="onUpdateServer($event)">
      <p>{{ serverName }}</p>
      <button class="btn btn-danger" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
      <!--<p>{{ allowNewServer }}</p>-->
      <!--<p [innerText]="allowNewServer"></p>-->
      <p>{{ serverCreationStatus }}</p>
      <app-server></app-server>
      <app-server></app-server>
    </div>
  </div>
</div>

